* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Space Mono', sans-serif;
    font-size: 62.5%;
    font-weight: 700;
}

li {
    list-style-type: none;
}

button {
    all: unset;
    cursor: pointer;
}

input {
    outline: none;
}