:root {

/* <------ Primary ------> */

--Green-400: hsl(172, 67%, 45%);
--Orange: hsl(17, 69%, 51%);
--Green-hover: hsl(173, 65%, 78%);

/* <------ Neutral ------> */

--Green-900: hsl(183, 100%, 15%);
--Grey-500: hsl(186, 14%, 43%);
--Grey-400: hsl(184, 14%, 56%);
--Grey-200: hsl(185, 41%, 84%);
--Grey-50: hsl(189, 47%, 97%);
--White: hsl(0, 100%, 100%);

}